<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>juniper</title>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/lodash.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<script type="text/javascript">
items = [];
editMode = false;
editInd = null;
function updateList() {
	$("#my-list").html("");
	var i=0;
	items.forEach(function (e) {
		var compiled = _.template('<li><%= it%><a href=# onclick="deleteItem(<%= index%>)"><i class="fas fa-backspace"></i></a><a href="#" onclick="editItem(<%= index%>)"><i class="fas fa-edit"></i></a></li>');
		$("#my-list").append(compiled({'it': e, 'index': i}));
		i++;
	});
}

function getListItems() {
	$.ajax({
        url : 'todo',
        dataType : 'json',
        success : function(r) {
        	console.log(r);
        	items = r;
        	console.log(items);
        	updateList();
        }
    });
}
function isVal(text){
	var pattern=/\d/g;
	var res = text.match(pattern);
	if(res == null){
		return true;
	}
	alert("you can not add number in your text!!!");
	return false;
	//if()
}

function sendListItem() {
	var s = $("#texttosend").val();
	if(isVal(s)){
		if(editMode){
			$.post("todo", { action:"edit" ,texttoedit: s, editIndex: editInd}, function() {
		    	getListItems();
		    });	
			editMode = false;
			editInd = null;
		}else{
			$.post("todo", { action:"add" ,texttosend: s}, function() {
		    	getListItems();
		    });	
		}
		$("#texttosend").val("");	
	}
	
	
}

function deleteItem(ind) {
	
	//console.log("heeyy " + emp); 
	$.post("todo", {action:"delete", deleteIndex: ind}, function(){
		getListItems();
	});
}

function editItem(ind) {
	var itemText = items[ind];
	editMode = true;
	editInd = ind;
	$("#texttosend").val(itemText);
}

$(document).ready(function () {	
	$("#my-list").append("<li>test");
	getListItems();
	
	$("#send-item").on('click', function () {
		sendListItem();
	});
});
</script>
</head>
<body>
<h2>Todo List</h2>
<p>
<a href="todo">Todo Servlet</a>
</p>

<ul id="my-list"></ul>
Enter your text: <input type="text" id="texttosend"><br>
<button id="send-item" type="button" >Submit</button>

</body>
</html>